#chat-container {
  grid-column: 1/2;
  grid-row: 2;
  width: 100%;
  height: 90vh;
  padding: 3%;

  #message-container {
    width: 100%;
    height: 40vh;
    max-width: 800px;
    margin-top: 30px;
    border: 0.5px solid #CCC;
    border-radius: 20px;
  }

  #message-container div {
    background-color: #CCC;
    padding: 10px;
    margin-top: 10px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
    padding: 1%;
  }

  #send-container {
    background-color: white;
    max-width: 800px;
    width: 100%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
    border-bottom: 0.5px solid #CCC;
    margin-right: 20px;
    margin-top: 30px;
    color: $black;
  }

  #message-input::placeholder,
  input::-webkit-input-placeholder {
    color: $black;
  }

  #sendBtn,
  #joinBtn {
      @extend .sendMessageOption;	
      background: $green;
      color: #fff;
      padding: 5px 10px;
      line-height: normal;
      margin-top: 30px;
      width: 40%;
      margin-right: 30px;
  }
}