#profile-container {
    width: 90%;
    margin: 5% auto;
}

#patient-info-container {
    padding: 3%;
    height: auto;
}

#patient-history-container {
    padding: 3% 10%;
}

#patient-history-container h4 {
    color: $dark-grey;
}

.patient-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
}

.patient-info span {
    margin: 0;
    padding: 0;
}

.avatar {
    margin-right: 20px;
}

#full-name {
    font-size: 20px;
    color: $primary_color;
    font-weight: 500;
}

.section-title {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    margin-top: 3%;
}

.section-title h5 {
    margin-right: 15px;
    color: $grey;
}

/* .material-icons {
    margin-top: 15px;
    color: rgb(97, 97, 97);
    cursor: pointer;
} */

.text-info {
    text-align: justify;
    padding: 2% 0;
}

.results-link {
    display: block;
    margin-top: 3%;
    text-decoration: none;
    margin-left: 10px;
}

.send-message {
    margin: 2% auto;
}

.sendMessageBtn {
    background:$primary_color;
    color: $white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.sendMessageOption {
    @extend .sendMessageBtn;
    margin-left: 0;
}

.bolder-names {
    font-weight: bolder;
    color: $green;
}
#chat-container {
    grid-column: 1/2;
    grid-row: 2;
    width: 100%;
    height: 40vh;
    padding: 3%;
}
