#profile-container {
    width: 90%;
    margin: 5% auto;
}

#patient-info-container {
    padding: 3%;
}

#patient-history-container {
    padding: 3% 10%;
}

#patient-history-container h4 {
    color: rgb(97, 97, 97);
}

.patient-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
}

.patient-info span {
    margin: 0;
    padding: 0;
}

.avatar {
    margin-right: 20px;
}

#full-name {
    font-size: 20px;
    color: #009688;
    font-weight: 500;
}

.section-title {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    margin-top: 3%;
}

.section-title h5 {
    margin-right: 15px;
    color: rgb(158, 157, 157);
}

/* .material-icons {
    margin-top: 15px;
    color: rgb(97, 97, 97);
    cursor: pointer;
} */

.text-info {
    text-align: justify;
    padding: 2% 0;
}

.results-link {
    display: block;
    margin-top: 3%;
    text-decoration: none;
    margin-left: 10px;
}

.send-message {
    margin: 2% auto;
}

.sendMessageBtn {
    background:#009688;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}