#profile-container {
    width: 90%;
    margin: 5% auto;
}

#patient-info-container {
    padding: 3%;
    height: auto;
}

#patient-history-container {
    padding: 3% 10%;
}

#patient-history-container h4 {
    color: $dark-grey;
}

.patient-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
}

.patient-info span {
    margin: 0;
    padding: 0;
}

.avatar {
    margin-right: 20px;
}

#full-name {
    font-size: 20px;
    color: $light_blue;
    font-weight: 500;
}

.section-title {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    margin-top: 3%;
}

.section-title h5 {
    margin-right: 15px;
    color: $grey;
}

.text-info {
    text-align: justify;
    padding: 2% 0;
}

.results-link {
    display: block;
    margin-top: 3%;
    text-decoration: none;
    margin-left: 10px;
}

.send-message {
    margin: 2% auto;
}

.sendMessageBtn {
    background:$primary_color;
    color: $white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#sendMessage {
    @extend .sendMessageBtn;
}

.patient-info {
    .profile-buttons {
        display: block;
        background:$light_blue;
        color: $white;
        padding: 10px 40px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 70%;
        text-align: center
    }
}

.sendMessageOption {
    @extend .sendMessageBtn;
    margin-left: 0;
}

.bolder-names {
    font-weight: bolder;
    color: $green;
}

#deleteUserBtn,
#editUserBtn,
#checkBtn,
#approveUserBtn,
#requestExamBtn {
background: #9adaff;
color: rgba(39, 32, 32, 0.6);
padding: 10px 40px;
margin-top: 15px;
margin-right: 15px;
cursor: pointer;
border: none;
border-radius: 10px;
font-weight: 600;
font-size: 16px;
letter-spacing: 1.2px;
text-align: center;
}

#disabledBtn {
    color: rgba(39, 32, 32, 0.6);
    padding: 10px 40px;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    background: '#D3D3D3';
    cursor: 'not-allowed';
}