.green-icons {
    color: $primary_color;
}

.light {
    text-align: justify;
    font-weight: 400;
}

.icon-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.icons-link {
    display: flex;
    padding: 10px 30px;
    background: $primary_color;
    color: $white;
    margin: 5px auto;
    font-size: 20px;
    border-radius: 10px;
}

.icons-link:hover {
    transform: translateX(20px);
    transition: 1s ease-out;
}

.arrow {
    font-size: 20px;
    padding-top: 7px;
    margin-left: 10px;
}