$primary_color: rgb(10, 133, 122);
$dark_green: rgb(5, 44, 41);
$white: #fff;
$black: #000;
$grey: rgb(158, 157, 157);
$light_grey: rgba(255, 255, 255, 0.5);
$dark-grey: rgb(97, 97, 97);
$light_blue: rgb(73, 156, 223);
$green: #096157;