@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

#logo-image {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-right: 5px;
}

nav .brand-logo {
    font-family: 'Bad Script', cursive;
}