#donation {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: $green;
}

.footer-ul {
    line-height: 2.5;
}

.grey-text {
    width: 90%;
}

#follow {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.footer-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

#donation:hover,
#search:hover {
    background: $green;
    color: $white;
    border: 0.5px solid $white;
}