.appointment-block {
    background: $white;
    height: auto;
    color: $light_blue;
    border: 2px solid $light_blue;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
}

#no-appointments,
#no-patient-appointments {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    padding: 2%;
    margin-bottom: 20px;
}

#appointments-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}