.card {
    width: 20vw;
    height: 660px;
}

.card .card-image {
    margin-left: 25px;
    padding-top: 25px;
}

.card .card-image img {
    width: 150px;
    height: auto;
}

.stars {
    margin-top: 15px;
    margin-left: 5px;
    color: tan;
}

.description-paragraph {
    font-weight: bolder;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rgb(179, 118, 39);
}