#no-patients {
    color: #8c8c8c;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    height: 200px;

    p {
        margin: 5% auto;
        text-align: center;
    }
}