@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.calendar-container {
  width: 30vw;
  margin: 4% auto;
  font-family: "Kaushan Script", cursive;

  button {
    padding: 10px;
    font-size: 20px;
    margin: 3px;
    border-radius: 5px;
    border: 0.5px solid $light_blue;
  }

  button:hover {
    transform: scale(1.1);
    color: $white;
    background: $light_blue;
  }

  .react-calendar__month-view__weekdays {
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 20px auto;
  }

  abbr[title] {
    text-decoration: none;
    font-size: 18px;
  }
}

.date-info {
  text-align: center;
  width: 50%;
  margin: 4% auto;
  background: $light_blue;
  color: $white;
  padding: 2%;
  border-radius: 20px;
  
  h5 {
      text-decoration: underline;
  }

  .date-text {
      font-size: 20px;
  }
}

.hours-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  label, small {
    color: $white;
    margin: 10px auto;
    font-size: 16px;
  }

  #appt {
    background: $white;
    width: 20%;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

#checkAppointmentBtn {
  background: $white;
  color: rgb(16, 107, 168);
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid $white;
  margin: 20px auto;
  border: none;
  cursor: pointer;
}

#checkAppointmentBtn:hover {
  background: rgb(170, 221, 245);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: rgb(170, 221, 245);
 color: $light_blue;
 font-weight: 600;
 border-radius: 6px;
}

.react-calendar__tile--now {
 color: $light_blue;
 border-radius: 6px;
 font-weight: 800;
 background: rgb(170, 221, 245);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: $white;
}

.react-calendar__tile {
  background: $white;
  color: $light_blue;
}

.react-calendar__tile--active {
 background: $light_blue;
 border-radius: 6px;
 font-weight: bold;
 color: $white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 background: rgb(41, 150, 212);
 color: $white;
}

.selected {
  color: red;
  background: $white;
  padding: 5px 15px;
  margin: 0 5px;
}